.navbar {
  border-bottom: 1px solid #f2f2f2;

  &__title {
    color: #f1356d;
  }

  &__links {
    margin-left: auto;
    color: black;
  }
  &__weather,
  &__todo {
    font-weight: bold;
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;

    &:hover {
      color: #f1356d;
    }
  }
}
